<div class="row g-3">
  <div class="col md texto">
    <div class="container">
      <div class="textoIntermedio">
        <app-inicio></app-inicio>
        <p class="fs-3 parrafo">
          <b>
            ¡Bienvenido "nombre usuario"
          </b>
        <br>
        <p class="fs-3 parrafo2">¡Estamos innovando!, por ello hemmos creado este sistema de intelligencia artificial en el que podremos predicir sobre ti y podremos diagnosticarte dependiendo de los datos que nos brindes.</p>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="mb-3 textoPequeno">
        <ul>
          <li  type="disc">Tenemos un sistemas de reglas en el que podremos diagnosticarte.</li>
          <li  type="disc">Ealaboramos una inteligencia artificial capaz de predecir....</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mb-3">
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <p>¿Quieres saber como utilizar nuestro programa? Te dejamos un video tutorial sobre donde aprenderás a usarlo.</p>
      <br> <br>
      <!-- <button class="btn btn-danger float-right"><i class="pi pi-external-link"></i> Ver tutorial</button> -->
    </div>
  </div>
</div>
