<form [formGroup]="formularioUsuario">
    <!--Contenedor Principal-->
    <div class="container-fluid">
      <!--Contenedor Login-->
      <div class="contenedorLogin">
        <!--Titulo-->
        <div class="mb-3">
          <h1 class="tituloRojo">Accede a tu cuenta</h1>
        </div>
        <!--Formulario-->
        <div class="grid p-fluid">
            <div class="col-12 md:col-4">
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input formControlName="User" type="text" pInputText placeholder="Id">         
                </div>
            </div>
            <br><br>
            
            <p-password formControlName="Contrasena" [(ngModel)]="pass" [toggleMask]="true"></p-password>
        </div>
        <!--Boton Ingresar al sistema-->
        <div class="mb-3">
            <br>
            <p-button label="Ingresar" (click)="validarCamposVacios()"></p-button>
        </div>
      </div>
      <!--Contenedor Login-->
    </div>
    <!--Fin Contenedor Principal-->
</form>
  