<!-- Navegador parte superior -->
<app-inicio></app-inicio>

<div class="d-flex justify-content-center overlay" *ngIf="!load">
  <div class="spinner-border text-danger" role="status" style="margin: auto;">
    <span class="visually-hidden">Cargando...</span>
  </div>
</div>

<div class="contain">
  <!--  fin Navegador de parte superior -->

  <div class="container-fluid">
    <div class="mb-4 Titulo">
      <h2 class="tituloRojo">Sistema de Reglas</h2>
    </div>
    <div class="mb-4">
      <hr class="colorLinea">
    </div>

    <div class="container">
      <div class="mb-4">
        <h4 class="tituloRojo">Llenar los campos correspondientes</h4>
      </div>
      <!-- Inicio formulario Estado OT -->
      <form [formGroup]="formularioSR">
        <div class="row content-questions">
          <div class="centrar">
            <!-- Problemas respiratorios -----------Pregunta 1 -->
            <label>¿Tiene problemas respiratorios?<br><br><br></label>
            <p-selectButton formControlName="Respiratorio" [options]="stateOptions" [(ngModel)]="value1" optionLabel="label" optionValue="value"></p-selectButton>    
          </div> 
          <div class="centrar">
            <!-- Problemas respiratorios -----------Pregunta 1 -->
            <label>¿Tiene fatiga?<br><br><br></label>
            <p-selectButton formControlName="fatiga" [options]="stateOptions" [(ngModel)]="value2" optionLabel="label" optionValue="value"></p-selectButton>    
          </div> 
          <div class="centrar">
            <label>Del 1 al 5 ¿Qué tanto dolor articular tiene?<br><br></label>
            <p-inputNumber formControlName="dolorArticular" [(ngModel)]="value5" [showButtons]="true" inputId="minmax-buttons" [min]="1" [max]="5"> </p-inputNumber>
          </div>
          <div class="centrar">
            <!-- Problemas respiratorios -----------Pregunta 1 -->
            <label>¿Tiene el cuello hinchado?<br><br><br></label>
            <p-selectButton formControlName="cuelloHinchado" [options]="stateOptions" [(ngModel)]="value3" optionLabel="label" optionValue="value"></p-selectButton>    
          </div> 
          <div class="centrar">
            <!-- Problemas respiratorios -----------Pregunta 1 -->
            <label>¿Tiene debilidad muscular?<br><br><br></label>
            <p-selectButton formControlName="debilidadMuscular" [options]="stateOptions" [(ngModel)]="value4" optionLabel="label" optionValue="value"></p-selectButton>    
          </div>          
        </div>

        <!-- Botones para consultar OT -->
        <div class="mb-3" style="text-align: center; margin-top: 5%;">
          <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <button pButton pRipple type="button" class="p-button-raised" style="margin-right: 3%;" (click)="consultar()">Enviar Datos</button>
            <button pButton pRipple type="button" class="p-button-raised p-button-secondary" (click)="liumpiarCampos()">Limpiar campos</button>
          </div>
        </div>
      </form>
      <!--Fin Formulario -->

      <div class="mb-4">
        <hr class="colorLinea">
      </div>

    </div>
  </div>

</div>
